.cube {
    width:20rem;
    height: 20rem;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-10rem);
    transition: transform 1s;
  }

  
  .cube.show-1  { transform: translateZ(-10rem) rotateY(   0deg); }
  .cube.show-2  { transform: translateZ(-10rem) rotateY(-180deg); }
  .cube.show-3  { transform: translateZ(-10rem) rotateY( -90deg); }
  .cube.show-4   { transform: translateZ(-10rem) rotateY(  90deg); }
  .cube.show-5   { transform: translateZ(-10rem) rotateX( -90deg); }
  .cube.show-6 { transform: translateZ(-10rem) rotateX(  90deg); }
  
  .cube__face {
    box-sizing: border-box;
    border-radius: 1rem;
    position: absolute;
    padding:0.5rem;
    width: 20rem;
    height: 20rem;
    border: 0.4rem solid white;
    line-height: 20rem;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: black;  
    opacity: 0.89;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cube__face--1  { 
    .content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.cube__face--2  {  
    .content{
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        transform: rotate(-45deg);
    }
}

.cube__face--3  { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  .content{
      width: 100%;
      display:flex;
      align-items: center;
      justify-content: space-between;
    transform: rotate(-35deg);
  }
  }

  .cube__face--4  {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    .content{
        width: 100%;
        display:grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap:2rem;
    }
}
  .cube__face--5   {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    .content{
        width: 100%;
        display:grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap:1rem;
    }
}
  .cube__face--6 {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    .content{
        width: 100%;
        display:grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap:1rem;
    }
}
  
  .cube__face--1  { transform: rotateY(  0deg) translateZ(10rem); }
  .cube__face--2   { transform: rotateY(180deg) translateZ(10rem); }
  .cube__face--3  { transform: rotateY( 90deg) translateZ(10rem); }
  .cube__face--4   { transform: rotateY(-90deg) translateZ(10rem); }
  .cube__face--5   { transform: rotateX( 90deg) translateZ(10rem); }
  .cube__face--6 { transform: rotateX(-90deg) translateZ(10rem); }

  .cube__dot{
    width:5rem;
    height:5rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 0 0 0.5rem 0.3rem rgba($color: #000000, $alpha: .6);
  }

  .cube__dot__center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  .cube__dot__red{
    width:5rem;
    height:5rem;
    background-color: red;
    border-radius: 50%;
    box-shadow: inset 0 0 0.5rem 0.3rem rgba($color: #000000, $alpha: .6);
  }
